body{
    margin: 0;
    background-color: rgb(249, 221, 179);
}
.contanier{
    margin-left: auto;
    margin-right: auto;
}
.first{
    margin-left: auto;
    margin-right: auto;
    width:35% ;
    padding-top: 5%;
    font-size:22pt;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
.second{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(175px,1fr));
}
img{
    height: 170px;
    padding-left: 20%;
    display: grid;

}
h2{
    font-size: 20pt;
    padding-left: 35%;
}
.third{
    margin-left: auto;
    margin-right: auto; 
    background-color: #f2bc66;
   margin-top:8%;  
   font-size: 12pt;
   text-align: center;
    height: 150px;
}
.c1{
    margin-left:auto;
    margin-right: auto; 
    padding: 3% 0 1% 0;
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(110px,120px));
    justify-content: center;
    
}
.flink{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
p{
    text-decoration: none;
    color: #fff;

}
.flink:hover{
    color:rgb(165, 99, 0);
    transition: 0.7s;
    text-decoration: underline;
}
h1{
    text-align: center;
}
